.b-1 .b-block {
	padding-top: 119px;
	padding-bottom: 117px;
}
.b-1 h2 {
	display: block;
	width: 50%;
	margin-bottom: 15px;
	font-family: 'SFUI-Bold';
	color: #ffffff;
	font-size: 36px;
	line-height: 1.3;
	text-align: left;
}
.b-1 p {
	display: block;
	width: 50%;
	margin-bottom: 45px;
	color: #ffffff;
	font-size: 24px;
	line-height: 1.3;
	text-align: left;
}
.b-1-btn {
	display: block;
	max-width: 350px;
	border-radius: 10px;
	background-color: rgb(246, 82, 46);
	color: #ffffff;
	padding: 18px 20px;
	box-sizing: border-box;
	text-align: center;
	font-family: 'SFUI-Medium';
	font-size: 16px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-1-btn:hover {
	background-color: rgb(228, 73, 36);
}
.b-1-slider {
	position: relative;
}
.b-1-slide {
	background-image: url('../i/b-1-back.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
	/*background-attachment: fixed;*/
	box-sizing: border-box;
	padding: 0 18px;
	/*opacity: 0 !important;
	-webkit-transition: all 2s;
	-moz-transition: all 2s;
	-ms-transition: all 2s;
	transition: all 2s;*/
}
/*.b-1-slide.slick-active {
	opacity: 1 !important;
}*/
.b-1-slide:nth-child(2) {
	background-image: url('../i/disciplines-back.jpg');
}
.b-1-slider .slick-dots {
	display: block !important;
	position: absolute;
	bottom: 1px;
	left: 0;
	width: 100%;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
	opacity: 0 !important;
}
.b-1-slider:hover .slick-dots {
	opacity: 1 !important;
}
.b-1-slider .slick-dots li {
	display: inline-block;
	vertical-align: top;
	margin: 0 8px;
}
.b-1-slider .slick-dots li button {
	display: block;
	border: 0;
	font-size: 0;
	background-color: rgb(241, 242, 242);
	border-radius: 50%;
	width: 16px;
	height: 16px;
	opacity: 0.5;
}
.b-1-slider .slick-dots li button:hover {
	cursor: pointer;
}
.b-1-slider .slick-dots li.slick-active button {
	opacity: 1;
}
.b-1-slider .slick-arrow {
	display: block !important;
	font-size: 0;
	border: 0;
	background-color: transparent;
	width: 18px;
	height: 34px;
	position: absolute;
	top: calc(50% - 17px);
	z-index: 1;
	opacity: 0 !important;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-1-slider .slick-arrow:hover {
	cursor: pointer;
}
.b-1-slider:hover .slick-arrow {
	opacity: 1 !important;
}
.b-1-slider .slick-next {
	right: 10px;
	background-image: url('../i/arr-next.png');
}
.b-1-slider .slick-prev {
	left: 10px;
	background-image: url('../i/arr-prev.png');
}


.b-2 {
	background-color: rgb(35, 30, 30);
}
.b-2 .b-block {
	padding-top: 120px;
	padding-bottom: 145px;
}
.b-2-left {
	display: inline-block;
	vertical-align: top;
	width: calc(50% - 94px);
	box-sizing: border-box;
	padding-right: 30px;
}
.b-2 .title {
	display: block;
	width: 100%;
	position: relative;
	color: #ffffff;
	font-family: 'SFUI-Bold';
	font-size: 36px;
	text-transform: uppercase;
	text-align: left;
	padding-bottom: 32px;
	margin-bottom: 38px;
}
.b-2 .title::before {
	content: '';
	display: block;
	width: 100%;
	height: 6px;
	left: 0;
	bottom: 0;
	position: absolute;
	background-color: rgb(246, 82, 46);
}
.b-2-left .left-text {
	display: block;
	text-align: left;
	font-size: 24px;
	line-height: 1.5;
	color: rgb(246, 82, 46);
}
.b-2-right {
	display: inline-block;
	width: calc(50% - 4px);
	box-sizing: border-box;
	padding-left: 30px;
	font-family: 'SFUI-Thin';
	color: #ffffff;
	font-size: 21px;
	line-height: 1.4;
	text-align: left;
}

.b-3 {
	background-color: #f1f2f2;
	z-index: 1;
}
.b-3 .b-block {
	padding-top: 50px;
}
.b-3 h2.title {
	display: block;
	text-align: left;
	font-size: 36px;
	color: rgb(35, 30, 30);
	line-height: 1.3;
	text-transform: uppercase;
	margin-bottom: 15px;
	font-family: 'SFUI-Bold';
}
.b-3 .subtitle {
	display: block;
	text-align: left;
	font-size: 24px;
	color: #6c7380;
}
.b-3-list li .b-block {
	padding-top: 0;
	padding-bottom: 0;
}
.b-3-list li {
	color: rgb(35, 30, 30);
}
.b-3-list li:nth-child(2n) {
	background-color: rgb(246, 82, 46);
	color: #ffffff;
}
.b-3-list li:first-child .b-3-list-wrap {
	padding-top: 0;
	padding-bottom: 45px;
}
.b-3-list li .b-3-list-wrap {
	position: relative;
	padding-top: 130px;
	padding-bottom: 80px;
	padding-left: calc(50% + 30px);
	box-sizing: border-box;
}
.b-3-list li:nth-child(2n) .b-3-list-wrap {
	padding-left: 0;
	padding-right: calc(50% + 30px);
}
.b-3-list .li-title {
	display: block;
	width: 100%;
	text-align: left;
	font-size: 21px;
	font-family: 'SFUI-Medium';
	margin-bottom: 40px;
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-transition-delay: 0.5s;
	-moz-transition-delay: 0.5s;
	-ms-transition-delay: 0.5s;
	transition-delay: 0.5s;
}
.b-3-list li.anim .li-title {
	opacity: 1;
}
.b-3-list .b-3-list-wrap p {
	display: block;
	width: 100%;
	text-align: left;
	font-size: 18px;
	line-height: 1.3;
	font-family: 'SFUI-Thin';
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
	-webkit-transition-delay: 0.5s;
	-moz-transition-delay: 0.5s;
	-ms-transition-delay: 0.5s;
	transition-delay: 0.5s;
}
.b-3-list li.anim .b-3-list-wrap p {
	opacity: 1;
}
.b-3-list li .abs-img {
	display: block;
	max-width: 50%;
	max-height: 100%;
	position: absolute;
	left: 0;
	bottom: -10px;
	opacity: 0;
	-webkit-transform: translateY(10px);
	-moz-transform: translateY(10px);
	-ms-transform: translateY(10px);
	transform: translateY(10px);
	-webkit-transition: all 0.5s;
	-moz-transition: all 0.5s;
	-ms-transition: all 0.5s;
	transition: all 0.5s;
}
.b-3-list li.anim .abs-img {
	opacity: 1;
	-webkit-transform: translateY(0);
	-moz-transform: translateY(0);
	-ms-transform: translateY(0);
	transform: translateY(0);
}
.b-3-list li:nth-child(2n) .abs-img {
	left: auto;
	right: 0;
}

.b-4 {
	background-image: url('../i/b-4-back.jpg');
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.b-4 .b-block {
	padding-top: 50px;
	padding-bottom: 50px;
}
.b-4 h2.title {
	display: block;
	text-align: left;
	font-family: 'SFUI-Bold';
	color: #ffffff;
	font-size: 36px;
	margin-bottom: 15px;
	text-transform: uppercase;
}
.b-4 .subtitle {
	display: block;
	text-align: left;
	color: #ffffff;
	font-size: 24px;
	margin-bottom: 70px;
}
.b-4-list li {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	width: calc(50% - 4px);
	padding-right: 15px;
}
.b-4-list li:nth-child(2n) {
	padding-right: 0;
	padding-left: 15px;
}
.b-4-list .li-wrap {
	padding: 30px 30px 20px;
	box-sizing: border-box;
	background-image: url('../i/b-4-list-back.jpg');
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	overflow: hidden;
	position: relative;
}
.b-4-list .li-wrap::before {
	content: '';
	position: absolute;
	display: block;
	opacity: 0.2;
	background-color: #362f32;
	top: 0;
	left: -40%;
	width: 0;
	height: 100%;
	-webkit-transition: all 0.4s ease-out;
	-moz-transition: all 0.4s ease-out;
	-ms-transition: all 0.4s ease-out;
	transition: all 0.4s ease-out;
	-webkit-transform: skew(-20deg,0);
	-moz-transform: skew(-20deg,0);
	-ms-transform: skew(-20deg,0);
	transform: skew(-20deg,0);
}
.b-4-list .li-wrap:hover:before {
	width: 180%;
}
.b-4-list .name {
	display: block;
	text-align: left;
	font-family: 'SFUI-Bold';
	font-size: 24px;
	color: rgb(35, 30, 30);
	margin-bottom: 92px;
	position: relative;
}
.b-4-list .item {
	display: inline-block;
	vertical-align: top;
	position: relative;
	font-size: 18px;
	color: #ffffff;
	text-align: left;
	line-height: 1.2;
	font-family: 'SFUI-Light';
	box-sizing: border-box;
	padding-left: 14px;
	padding-right: 10px;
	width: calc(33% - 4px);
	margin-bottom: 35px;
}
.b-4-list .item.big {
	width: calc(44% - 4px);
}
.b-4-list .item.small {
	width: calc(23% - 4px);
}
.b-4-list .item::before {
	content: '';
	display: block;
	width: 4px;
	height: calc(100% - 10px);
	left: 0;
	top: 5px;
	background-color: rgba(0,0,0,0.5);
	position: absolute;
}
.b-4-list .li-btn {
	display: block;
	border-radius: 10px;
	background-color: #ffffff;
	text-align: center;
	max-width: 168px;
	width: 100%;
	padding: 17px 20px;
	box-sizing: border-box;
	font-family: 'SFUI-Medium';
	font-size: 16px;
	color: rgb(35, 30, 30);
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-4-list .li-btn:hover {
	background-color: rgb(240,240,240);
}

.b-5 {
	background-image: url('../i/b-5-back.jpg');
	background-size: cover;
	background-position: left;
	background-repeat: no-repeat;
}
.b-5 .b-block {
	padding-top: 70px;
	padding-bottom: 20px;
}
.b-5 h2.title {
	display: block;
	text-align: left;
	font-family: 'SFUI-Bold';
	font-size: 36px;
	color: rgb(35, 30, 30);
	line-height: 1.2;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.b-5 .subtitle {
	display: block;
	text-align: left;
	font-size: 24px;
	color: #6c7380;
	margin-bottom: 10px;
}
.b-5-wrap .item:first-child {
	margin-left: auto;
	margin-right: auto;
}
.b-5-wrap .item {
	display: inline-block;
	vertical-align: middle;
	margin-left: 30px;
	width: 360px;
	text-align: left;
	margin-right: 105px;
}
.b-5-wrap .item img {
	display: inline-block;
	vertical-align: middle;
	max-width: 95px;
	margin-right: 30px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-5-wrap .item img:hover {
	-webkit-transform: translateY(-5px);
	-moz-transform: translateY(-5px);
	-ms-transform: translateY(-5px);
	transform: translateY(-5px);
}
.b-5-wrap .item span {
	display: inline-block;
	vertical-align: middle;
	font-family: 'SFUI-Medium';
	font-size: 21px;
	text-align: left;
	color: rgb(35, 30, 30);
}
.b-5-wrap form {
	display: inline-block;
	vertical-align: middle;
	max-width: 350px;
}
.b-5-wrap form .select-wrap {
	position: relative;
	margin-bottom: 30px;
}
.b-5-wrap form .select-area {
	display: block;
	text-align: left;
	padding-bottom: 7px;
	background-color: transparent;
	border-bottom: 1px solid rgb(204, 204, 204);
	width: 100%;
	font-family: 'SFUI-Regular';
	font-size: 16px;
	color: rgb(108, 115, 128);
	box-sizing: border-box;
	padding-right: 11px;
	position: relative;
}
.b-5-wrap form .select-area.active {
	border-color: rgb(35, 30, 30);
}
.b-5-wrap form .select-area::before {
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	top: calc(50% - 9px);
	right: 0;
	border-top: 5px solid rgb(108, 115, 128);
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-5-wrap form .select-area.active::before {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.b-5-wrap form .select-area span {
	display: block;
	overflow: hidden;
	width: 100%;
}
.b-5-wrap form .select-area:hover {
	cursor: pointer;
}
.b-5-wrap form .select-drop {
	display: none;
	position: absolute;
	background-color: #ffffff;
	top: 100%;
	left: 0;
	width: 100%;
	border: 1px solid rgb(35, 30, 30);
	border-top: 0;
	border-radius: 0 0 10px 10px;
	padding: 10px;
	box-sizing: border-box;
	z-index: 10;
}
.b-5-wrap form .select-drop.active {
	display: block;
}
.b-5-wrap form .select-drop a {
	display: block;
	text-align: left;
	margin-bottom: 5px;
	font-family: 'SFUI-Regular';
	font-size: 16px;
	color: rgb(108, 115, 128);
}
.b-5-wrap form .select-drop a:last-child {
	margin-bottom: 0;
}
.b-5-wrap form select {
	display: none;
	visibility: hidden;
	border: 0;
	width: 0;
	height: 0;
	margin: 0;
	font-size: 0;
	padding: 0;
}
.b-5-wrap form input {
	display: block;
	text-align: left;
	padding-bottom: 7px;
	margin-bottom: 30px;
	border: 0;
	background-color: transparent;
	border-bottom: 1px solid rgb(204, 204, 204);
	width: 100%;
	font-family: 'SFUI-Regular';
	font-size: 16px;
	color: rgb(108, 115, 128);
}
.b-5-wrap form input::-webkit-input-placeholder {color:rgb(108, 115, 128);}
.b-5-wrap form input::-moz-placeholder          {color:rgb(108, 115, 128);}
.b-5-wrap form input:-moz-placeholder           {color:rgb(108, 115, 128);}
.b-5-wrap form input:-ms-input-placeholder      {color:rgb(108, 115, 128);}
.b-5-wrap form input:focus::-webkit-input-placeholder {color:transparent;}
.b-5-wrap form input:focus::-moz-placeholder          {color:transparent;}
.b-5-wrap form input:focus:-moz-placeholder           {color:transparent;}
.b-5-wrap form input:focus:-ms-input-placeholder      {color:transparent;}
.b-5-wrap form input:focus {
	border-color: rgb(35, 30, 30);
}
.b-5-wrap button {
	display: block;
	width: 100%;
	border-radius: 10px;
	color: #ffffff;
	text-align: center;
	box-sizing: border-box;
	padding: 17px 20px;
	background-color: rgb(246, 82, 46);
	font-size: 16px;
	font-family: 'SFUI-Medium';
	border: 0;
	margin-bottom: 20px;
}
.b-5-wrap button:hover {
	cursor: pointer;
}
.b-5-wrap form .button-text {
	display: inline-block;
	max-width: 100%;
	font-size: 14px;
	color: rgb(108, 115, 128);
	line-height: 1.2;
	position: relative;
	text-align: left;
	padding-left: 40px;
	font-family: 'SFUI-Thin';
}
.b-5-wrap form .button-text a {
	color: rgb(108, 115, 128);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-5-wrap form .button-text a:hover {
	color: #000000;
}
.b-5-wrap form .button-text .radio-btn {
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	border: 1px solid rgb(204, 204, 204);
	left: 0;
	top: 2px;
	border-radius: 6px;
}
.b-5-wrap form .button-text .radio-btn.error {
	border-color: #ff0000;
}
.b-5-wrap form .button-text .radio-btn:hover {
	cursor: pointer;
}
.b-5-wrap form .button-text .radio-btn.active::before {
	content: '';
	display: block;
	width: 7px;
	height: 2px;
	position: absolute;
	left: 3px;
	top: 10px;
	background-color: rgb(204, 204, 204);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.b-5-wrap form .button-text .radio-btn.active::after {
	content: '';
	display: block;
	width: 10px;
	height: 2px;
	position: absolute;
	left: 7px;
	top: 9px;
	background-color: rgb(204, 204, 204);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

.b-6 .b-block {
	padding-top: 70px;
	padding-bottom: 70px;
}
.b-6 h2.title {
	display: block;
	text-align: left;
	font-family: 'SFUI-Bold';
	font-size: 36px;
	color: rgb(35, 30, 30);
	line-height: 1.2;
	text-transform: uppercase;
	margin-bottom: 15px;
}
.b-6 .subtitle {
	display: block;
	text-align: left;
	font-size: 24px;
	color: #6c7380;
	margin-bottom: 10px;
}
.b-6-slider {
	display: block;
	padding-bottom: 40px;
	margin-bottom: 20px;
}
.b-6-slider .slick-list {
	padding: 15px;
}
.b-6-slide {
	padding: 0 15px;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-6-slide a {
	display: inline-block;
	max-width: 100%;
}
.b-6-slide:hover {
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	-ms-transform: scale(1.1);
	transform: scale(1.1);
}
.b-6-slide a img {
	display: block;
	max-width: 100%;
}
.b-6-slider .slick-dots {
	display: block;
	position: absolute;
	bottom: 1px;
	left: 0;
	width: 100%;
}
.b-6-slider .slick-dots li {
	display: inline-block;
	vertical-align: top;
	margin: 0 8px;
}
.b-6-slider .slick-dots li button {
	display: block;
	border: 0;
	font-size: 0;
	background-color: rgb(241, 242, 242);
	border-radius: 50%;
	width: 16px;
	height: 16px;
}
.b-6-slider .slick-dots li button:hover {
	cursor: pointer;
}
.b-6-slider .slick-dots li.slick-active button {
	background-color: rgb(246, 82, 46);
}
.b-6-list li {
	display: inline-block;
	vertical-align: top;
	box-sizing: border-box;
	padding: 0 5px;
	width: calc(25% - 4px);
	margin-bottom: 30px;
}
.b-6-list li .li-image {
	display: block;
	width: 100%;
	height: 114px;
	position: relative;
	margin-bottom: 30px;
}
.b-6-list li .li-image img {
	display: block;
	max-width: 100%;
	max-height: 100%;
	position: absolute;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-6-list li:hover .li-image img {
	-webkit-transform: translateY(calc(-50% - 5px));
	-moz-transform: translateY(calc(-50% - 5px));
	-ms-transform: translateY(calc(-50% - 5px));
	transform: translateY(calc(-50% - 5px));
}
.b-6-list li span {
	display: block;
	text-align: left;
	font-family: 'SFUI-Medium';
	font-size: 21px;
	color: rgb(35, 30, 30);
	line-height: 1.4;
}

.b-7 {
	background-color: rgb(35, 30, 30);
}
.b-7 .b-block {
	padding-top: 25px;
	padding-bottom: 25px;
}
.b-7 h2.title {
	display: block;
	text-align: left;
	font-size: 36px;
	font-family: 'SFUI-Bold';
	line-height: 1.3;
	color: #ffffff;
}
.b-7 h2.title span {
	color: rgb(246, 82, 46);
}
.b-7 h2.title span.hashtag {
	vertical-align: middle;
	color: #ffffff;
	font-size: 72px;
}

.b-8 .b-block {
	padding-top: 50px;
	padding-bottom: 30px;
}
.b-8 .social-list-1 {
	margin-bottom: 50px;
}
.b-8 .social-list-1 li {
	display: inline-block;
	vertical-align: top;
	margin: 0 25px 20px auto;
	width: 350px;
}
.b-8 .social-list-1 li.li-youtube {
	margin: 0 auto;
}
.b-8 .social-list-1 li.li-youtube iframe {
	margin: 30px auto 0;
	width: 100%;
	height: 197px;
}
.vk-top, .inst-top {
	margin-bottom: 30px;
}
.youtube-top .youtube-a, .vk-top .vk-a, .inst-top .inst-a {
	display: block;
	width: auto;
	max-width: 100%;
}
.youtube-top .youtube-a img, .vk-top .vk-a img, .inst-top .inst-a img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
}
.vk-top .subscribe-a {
	padding: 13px 70px;
	color: #ffffff;
	background-color: rgb(73, 118, 168);
	border-radius: 10px;
	font-family: 'SFUI-Medium';
}
.inst-top .subscribe-a {
	padding: 13px 70px;
	color: #ffffff;
	background-color: rgb(220, 49, 122);
	border-radius: 10px;
	font-family: 'SFUI-Medium';
}
.youtube-top .subscribe-a {
	padding: 13px 70px;
	color: #ffffff;
	background-color: rgb(230, 55, 59);
	border-radius: 10px;
	font-family: 'SFUI-Medium';
}
.instagram-mobile {
	display: none;
}
.b-8 .social-list-2 li {
	display: inline-block;
	vertical-align: top;
	width: calc(25% - 4px);
	padding: 0 5px;
	box-sizing: border-box;
	text-align: left;
}
.b-8 .social-list-2 li a {
	display: inline-block;
	max-width: 100%;
	font-size: 16px;
	color: rgb(108, 115, 128);
	font-family: 'SFUI-Medium';
	position: relative;
	padding: 13px 0 13px 75px;
	box-sizing: border-box;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.b-8 .social-list-2 li a:hover {
	color: rgb(35, 30, 30);
}
.b-8 .social-list-2 li a img {
	display: block;
	position: absolute;
	left: 0;
	top: 0;
}






@media screen and (max-width: 1280px) {
	.b-3-list li .abs-img {
		top: 130px;
	}
	.b-3-list li:first-child .abs-img {
		top: 10px;
	}
	.b-4-list li {
		display: block;
		padding-left: 0 !important;
		padding-right: 0;
		margin: 0 auto 20px;
		width: 100%;
	}
	.b-5-wrap .item {
		display: block;
		margin: 0 auto 40px !important;
	}
	.b-6-list li {
		width: calc(33% - 4px);
	}
	.b-8 .social-list-2 li {
		width: calc(50% - 4px);
		margin-bottom: 20px;
	}
}
@media screen and (max-width: 767px) {
	.b-1 h1 {
		width: 100%;
	}
	.b-1 p {
		width: 100%;
	}
	.b-1-btn {
		margin: 0 auto;
	}
	.b-2-left {
		display: block;
		width: 100%;
		margin-bottom: 20px;
		padding-right: 0;
	}
	.b-2-right {
		display: block;
		width: 100%;
		padding-left: 0;
	}
	.b-3-list-wrap {
		padding: 30px 0 !important;
	}
	.b-3-list li .abs-img {
		position: static;
		margin: 0 auto 20px;
		max-width: 100%;
	}
	.b-4-list .name {
		margin-bottom: 30px;
	}
	.b-4-list .item {
		display: block;
		width: 100% !important;
		margin: 0 auto 20px;
	}
	.b-5-wrap .item {
		width: 100%;
		max-width: 360px;
	}
	.b-6-list li {
		display: block;
		width: 100%;
	}
	.b-6-list li .li-image img {
		-webkit-transform: translate(-50%,-50%);
		-moz-transform: translate(-50%,-50%);
		-ms-transform: translate(-50%,-50%);
		transform: translate(-50%,-50%);
		left: 50%;
	}
	.b-6-list li:hover .li-image img {
		-webkit-transform: translate(-50%,calc(-50% - 5px));
		-moz-transform: translate(-50%,calc(-50% - 5px));
		-ms-transform: translate(-50%,calc(-50% - 5px));
		transform: translate(-50%,calc(-50% - 5px));
	}
	.b-8 .social-list-1 li {
		display: block;
		width: 260px;
		margin: 0 auto 20px;
	}
	.instagram-mobile {
		display: block;
	}
	.instagram-desktop {
		display: none;
	}
	.youtube-top .subscribe-a, .vk-top .subscribe-a, .inst-top .subscribe-a {
		padding: 13px 40px;
	}
	.b-8 .social-list-1 li.li-youtube iframe {
		height: 146px;
		margin: 20px auto 0;
	}
	.b-8 .social-list-2 li {
		display: block;
		width: 100%;
		text-align: center;
	}
}