@charset "utf-8";

@font-face {
    font-family: 'SFUI-Bold';
    src: url('../fonts/sfuidisplay-bold-webfont.eot');
    src: url('../fonts/sfuidisplay-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sfuidisplay-bold-webfont.woff2') format('woff2'),
         url('../fonts/sfuidisplay-bold-webfont.woff') format('woff'),
         url('../fonts/sfuidisplay-bold-webfont.ttf') format('truetype'),
         url('../fonts/sfuidisplay-bold-webfont.svg#sf_ui_displaybold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFUI-Light';
    src: url('../fonts/sfuidisplay-light-webfont.eot');
    src: url('../fonts/sfuidisplay-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sfuidisplay-light-webfont.woff2') format('woff2'),
         url('../fonts/sfuidisplay-light-webfont.woff') format('woff'),
         url('../fonts/sfuidisplay-light-webfont.ttf') format('truetype'),
         url('../fonts/sfuidisplay-light-webfont.svg#sf_ui_displaylight') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFUI-Medium';
    src: url('../fonts/sfuidisplay-medium-webfont.eot');
    src: url('../fonts/sfuidisplay-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sfuidisplay-medium-webfont.woff2') format('woff2'),
         url('../fonts/sfuidisplay-medium-webfont.woff') format('woff'),
         url('../fonts/sfuidisplay-medium-webfont.ttf') format('truetype'),
         url('../fonts/sfuidisplay-medium-webfont.svg#sf_ui_displaymedium') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFUI-Regular';
    src: url('../fonts/sfuidisplay-regular-webfont.eot');
    src: url('../fonts/sfuidisplay-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sfuidisplay-regular-webfont.woff2') format('woff2'),
         url('../fonts/sfuidisplay-regular-webfont.woff') format('woff'),
         url('../fonts/sfuidisplay-regular-webfont.ttf') format('truetype'),
         url('../fonts/sfuidisplay-regular-webfont.svg#sf_ui_displayregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Krabuler-Regular';
    src: url('../fonts/rf-krabuler-regular-webfont.eot');
    src: url('../fonts/rf-krabuler-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/rf-krabuler-regular-webfont.woff2') format('woff2'),
         url('../fonts/rf-krabuler-regular-webfont.woff') format('woff'),
         url('../fonts/rf-krabuler-regular-webfont.ttf') format('truetype'),
         url('../fonts/rf-krabuler-regular-webfont.svg#rf_krabulerregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'SFUI-Thin';
    src: url('../fonts/sfuidisplay-thin-webfont.eot');
    src: url('../fonts/sfuidisplay-thin-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sfuidisplay-thin-webfont.woff2') format('woff2'),
         url('../fonts/sfuidisplay-thin-webfont.woff') format('woff'),
         url('../fonts/sfuidisplay-thin-webfont.ttf') format('truetype'),
         url('../fonts/sfuidisplay-thin-webfont.svg#sf_ui_displaythin') format('svg');
    font-weight: normal;
    font-style: normal;
}


html,
body {
	position: relative;
}
body {
	min-width: 300px;
	text-align: center;
	overflow-x: hidden;
	-webkit-text-size-adjust: none;
	color: #000000;
	font-family: 'SFUI-Regular';
	padding-top: 129px;
	box-sizing: border-box;
}
body.active {
	height: 100vh !important;
	overflow: hidden !important;
}
a{
	text-decoration: none;
	color: #000000;
}
li{
	list-style: none;
}
h1,h2,h3,h4,h5,h6{
	font-weight: normal;
}
label.error{
	display: none !important;
}
input.error,textarea.error{
	border-color: #F00 !important;
}
.fancybox-inner{
	overflow: visible !important;
}
.b{
	position: relative;
}
.b-block{
	position: relative;
	max-width: 1230px;
	padding: 0 30px;
	box-sizing: border-box;
	margin: 0px auto;
}
.b-absolute{
	position: absolute;
	top: 0px;
	left: 50%;
	margin-left: -500px;
}
input::-webkit-input-placeholder {
	color: #000000;
}
input:-moz-placeholder {
	color: #000000;
}
.mobile-btn {
	display: none;
	position: absolute;
	right: 15px;
	top: calc(50% - 11px);
	width: 26px;
	height: 22px;
	z-index: 1;
}
.mobile-btn .mobile-btn-el{
	position: absolute;
	border-radius: 4px;
	top: 9px;
	left: 0;
	width: 100%;
	height: 4px;
	background-color: #000000;
	opacity: 1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	-o-transition: all 0.3s;
	transition: all 0.3s;
}
.mobile-btn::before {
    content: '';
    position: absolute;
    border-radius: 4px;
    left: 0;
    top: 0;
    width: 100%;
    height: 4px;
    background-color: #000000;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.mobile-btn::after {
	content: '';
	position: absolute;
    border-radius: 4px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #000000;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.mobile-btn.active::after {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.mobile-btn.active::before {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.mobile-btn.active .mobile-btn-el {
	opacity: 0;
}
.close-btn {
	display: none;
	position: absolute;
	width: 26px;
	height: 22px;
	z-index: 1;
}
.close-btn::after {
	content: '';
	position: absolute;
    border-radius: 4px;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 4px;
    background-color: #000000;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
.close-btn::before {
	content: '';
    position: absolute;
    border-radius: 4px;
    left: 0;
    top: 0;
    width: 100%;
    height: 4px;
    background-color: #000000;
    -webkit-transform-origin: left;
    -moz-transform-origin: left;
    -ms-transform-origin: left;
    -o-transform-origin: left;
    transform-origin: left;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
.mobile-menu {
	display: none;
	height: 100vh;
	overflow-y: auto;
	position: fixed;
	z-index: 10;
	width: 100%;
	left: 0;
	top: -200%;
	background-color: #ffffff;
	box-sizing: border-box;
	padding: 30px 10px;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.mobile-menu.active {
	top: 0;
}
.line::before {
	content: '';
	display: block;
	width: calc((100% - 1230px)/2);
	height: 6px;
	position: absolute;
	left: 0;
	top: 130px;
	background-color: rgb(246, 82, 46);
}

.header {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	background-color: #ffffff;
	z-index: 100;
}
.header.active {
	position: fixed;
	border-bottom: 1px solid #000000;
}
.header .b-block {
	padding-top: 17px;
	padding-bottom: 1px;
	padding-left: 125px;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.header .b-block::before {
	content: '';
	display: block;
	width: 0px;
	height: 60px;
	position: absolute;
	left: 0;
	top: calc(50% - 30px);
	background-image: url('../i/small-logo.jpg');
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	-webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    -ms-transition: all 0.3s;
    -o-transition: all 0.3s;
    transition: all 0.3s;
}
.header.active .b-block::before {
	width: 66px;
}
.header.active .b-block {
	padding-top: 1px;
	padding-left: 86px;
}
.header-logo {
	position: absolute;
	left: 0;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
	display: block;
	max-width: 125px;
	max-height: 125px;
}
.header.active .header-logo {
	display: none;
}
.header.active .header-top {
	display: none;
}
.header-logo img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	max-height: 100%;
}
.header-slogan {
	font-size: 30px;
	color: rgb(108, 115, 128);
	font-family: 'Krabuler-Regular';
}
.header-right {
	margin-top: 5px;
}
.header-city {
	display: inline-block;
	vertical-align: bottom;
	position: relative;
	padding-left: 30px;
	font-size: 16px;
	color: rgb(108, 115, 128);
}
.header-city::before {
	content: '';
	display: block;
	width: 17px;
	height: 22px;
	background-repeat: no-repeat;
	background-size: contain;
	background-image: url('../i/header-city-img.png');
	position: absolute;
	left: 0;
	top: calc(50% - 11px);
}
.header-social {
	display: inline-block;
	vertical-align: bottom;
	margin: 0 45px;
}
.header-social li {
	display: inline-block;
	vertical-align: top;
	margin: 0 5px;
	width: 25px;
	height: 25px;
}
.header-social li a {
	display: block;
	position: relative;
	width: 100%;
	height: 100%;
	box-sizing: border-box;
	border: 2px solid #9C9C9B;
	border-radius: 5px 5px 5px 0;
}
.header-social li a img {
	display: block;
	position: absolute;
	max-width: 70%;
	max-height: 70%;
	left: 50%;
	top: 50%;
	-webkit-transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-ms-transform: translate(-50%,-50%);
	transform: translate(-50%,-50%);
}
.header-phone {
	display: inline-block;
	vertical-align: bottom;
	color: rgb(35, 30, 30);
	font-size: 21px;
	font-family: 'SFUI-Medium';
}
.header-nav {
	padding-top: 10px;
	padding-bottom: 10px;
}
.header-nav ul {
	display: flex;
	display: -ms-flex;
	display: -webkit-flex;
	width: 100%;
	box-sizing: border-box;
	align-items: center;
	justify-content: space-between;
	flex-wrap: wrap;
}
.header-nav ul li {
	box-sizing: border-box;
	padding: 0 5px;
	font-size: 16px;
	color: rgb(35, 30, 30);
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.header-nav ul li:last-child {
	padding-right: 0;
}
.header-nav ul li a {
	color: rgb(35, 30, 30);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.header-nav ul li:hover, .header-nav ul li a:hover {
	color: rgb(246, 82, 46);
}
.header-nav ul li.li-drop {
	padding-right: 25px;
}
.header-nav ul li.li-drop::before {
	content: '';
	display: block;
	position: absolute;
	width: 0;
	height: 0;
	right: 5px;
	top: calc(50% - 3px);
	border-top: 5px solid rgb(35, 30, 30);
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.header-nav ul li.li-drop:hover:before {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.header-nav ul li.li-drop .nav-drop {
	display: none;
	min-width: calc(100% + 10px);
	position: absolute;
	left: -5px;
	top: 100%;
	background-color: #ffffff;
	border-radius: 0 0 10px 10px;
	padding: 5px 0 10px;
	box-sizing: border-box;
}
.header-nav ul li.li-drop:hover .nav-drop {
	display: block;
}
.header-nav ul li.li-drop .nav-drop .drop-item {
	padding: 5px 10px;
	width: 100%;
	border-bottom: 1px solid rgb(227, 228, 229);
	text-align: left;
}
.header-nav ul li.li-drop .nav-drop .drop-item:last-child {
	border: 0;
}
.header-nav ul li.li-drop .nav-drop .drop-item a {
	font-size: 14px;
	font-family: 'SFUI-Light';
}
.header-nav ul li a.header-btn {
	display: inline-block;
	padding: 15px 30px;
	border-radius: 10px;
	background-color: rgb(246, 82, 46);
	color: #ffffff !important;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.header-nav ul li a.header-btn:hover {
	background-color: rgb(228, 73, 36);
}

.footer {
	background-color: rgb(35, 30, 30);
}
.footer .b-block {
	padding-top: 20px;
	padding-bottom: 20px;
}
.footer-logo {
	display: inline-block;
	vertical-align: middle;
	margin-right: 40px;
}
.footer-logo img {
	display: block;
	max-width: 100%;
}
.footer-text {
	display: inline-block;
	vertical-align: middle;
	max-width: 196px;
	width: 100%;
	margin-right: 16px;
}
.footer-text p {
	display: block;
	width: 100%;
	text-align: left;
	font-family: 'SFUI-Thin';
	color: #ffffff;
	font-size: 10px;
	margin-bottom: 10px;
}
.footer-text p:last-child {
	margin-bottom: 0;
}
.footer-text p a {
	color: #ffffff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.footer-text p a:hover {
	color: rgb(246, 82, 46);
}
.footer-nav {
	display: inline-block;
	vertical-align: middle;
	border-top: 1px solid #ffffff;
	border-bottom: 1px solid #ffffff;
	width: calc(100% - 385px);
	padding-top: 15px;
	padding-bottom: 12px;
}
.footer-nav li {
	display: inline-block;
	vertical-align: top;
	width: calc(((100% - 382px)/3) - 8px);
	box-sizing: border-box;
	padding: 0 10px;
}
.footer-nav li.big {
	width: 228px;
}
.footer-nav li.li-logo-atk {
	padding: 0;
	width: 154px;
}
.footer-nav li span {
	display: block;
	margin-bottom: 10px;
	text-align: left;
}
.footer-nav li.big span {
	margin-bottom: 1px;
}
.footer-nav li span:last-child {
	margin-bottom: 0;
}
.footer-nav li span a {
	font-family: 'SFUI-Light';
	font-size: 16px;
	color: #ffffff;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.footer-nav li span a:hover {
	color: rgb(246, 82, 46);
}
.footer-nav li .left-part, .footer-nav li .right-part {
	display: inline-block;
	vertical-align: top;
	width: calc(50% - 4px);
	padding-right: 5px;
	box-sizing: border-box;
}
.footer-nav li .left-part span, .footer-nav li .right-part span {
	margin-bottom: 1px;
	line-height: 1;
}
.footer-nav li .left-part span a, .footer-nav li .right-part span a {
	font-family: 'SFUI-Thin';
	font-size: 12px;
}
.footer-nav li.li-logo-atk a {
	display: block;
	width: 100%;
}
.footer-nav li.li-logo-atk a img {
	display: block;
	width: 100%;
}

.popup {
	background-color: #ffffff;
	border-top: 6px solid rgb(246, 82, 46);
	box-sizing: border-box;
	padding: 95px;
	width: 90%;
	max-width: 540px;
	font-family: 'SFUI-Regular';
}
.popup-name {
	display: block;
	text-align: left;
	font-family: 'SFUI-Bold';
	font-size: 18px;
	text-transform: uppercase;
	color: rgb(35, 30, 30);
}
.popup-subname {
	display: block;
	text-align: left;
	font-size: 16px;
	color: #6c7380;
	margin-bottom: 60px;
}
.popup-list {
	margin-bottom: 60px;
}
.popup-list li {
	display: inline-block;
	vertical-align: top;
	position: relative;
	box-sizing: border-box;
	padding: 0 10px 0 70px;
	width: calc(50% - 4px);
	font-family: 'SFUI-Medium';
	text-align: left;
	font-size: 14px;
	color: rgb(35, 30, 30);
	line-height: 1.2;
}
.popup-list li img {
	display: block;
	position: absolute;
	left: 10px;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-moz-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}
.popup form {
	display: block;
	width: 100%;
}
.popup form .select-wrap {
	position: relative;
	margin-bottom: 30px;
}
.popup form .select-area {
	display: block;
	text-align: left;
	padding-bottom: 7px;
	background-color: transparent;
	border-bottom: 1px solid rgb(204, 204, 204);
	width: 100%;
	font-family: 'SFUI-Regular';
	font-size: 16px;
	color: rgb(108, 115, 128);
	box-sizing: border-box;
	padding-right: 11px;
	position: relative;
}
.popup form .select-area.active {
	border-color: rgb(35, 30, 30);
}
.popup form .select-area::before {
	content: '';
	display: block;
	width: 0;
	height: 0;
	position: absolute;
	top: calc(50% - 9px);
	right: 0;
	border-top: 5px solid rgb(108, 115, 128);
	border-right: 5px solid transparent;
	border-left: 5px solid transparent;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.popup form .select-area.active::before {
	-webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg);
	-ms-transform: rotate(180deg);
	transform: rotate(180deg);
}
.popup form .select-area span {
	display: block;
	overflow: hidden;
	width: 100%;
}
.popup form .select-area:hover {
	cursor: pointer;
}
.popup form .select-drop {
	display: none;
	position: absolute;
	background-color: #ffffff;
	top: 100%;
	left: 0;
	width: 100%;
	border: 1px solid rgb(35, 30, 30);
	border-top: 0;
	border-radius: 0 0 10px 10px;
	padding: 10px;
	box-sizing: border-box;
	z-index: 10;
}
.popup form .select-drop.active {
	display: block;
}
.popup form .select-drop a {
	display: block;
	text-align: left;
	margin-bottom: 5px;
	font-family: 'SFUI-Regular';
	font-size: 16px;
	color: rgb(108, 115, 128);
}
.popup form .select-drop a:last-child {
	margin-bottom: 0;
}
.popup form select {
	display: none;
	visibility: hidden;
	border: 0;
	width: 0;
	height: 0;
	margin: 0;
	font-size: 0;
	padding: 0;
}
.popup form input {
	display: block;
	text-align: left;
	padding-bottom: 7px;
	margin-bottom: 30px;
	border: 0;
	background-color: transparent;
	border-bottom: 1px solid rgb(204, 204, 204);
	width: 100%;
	font-family: 'SFUI-Regular';
	font-size: 16px;
	color: rgb(108, 115, 128);
}
.popup form input::-webkit-input-placeholder {color:rgb(108, 115, 128);}
.popup form input::-moz-placeholder          {color:rgb(108, 115, 128);}
.popup form input:-moz-placeholder           {color:rgb(108, 115, 128);}
.popup form input:-ms-input-placeholder      {color:rgb(108, 115, 128);}
.popup form input:focus::-webkit-input-placeholder {color:transparent;}
.popup form input:focus::-moz-placeholder          {color:transparent;}
.popup form input:focus:-moz-placeholder           {color:transparent;}
.popup form input:focus:-ms-input-placeholder      {color:transparent;}
.popup form input:focus {
	border-color: rgb(35, 30, 30);
}
.popup form button {
	display: block;
	width: 100%;
	border-radius: 10px;
	color: #ffffff;
	text-align: center;
	box-sizing: border-box;
	padding: 17px 20px;
	background-color: rgb(246, 82, 46);
	font-size: 16px;
	font-family: 'SFUI-Medium';
	border: 0;
	margin-bottom: 20px;
}
.popup form button:hover {
	cursor: pointer;
}
.popup form .button-text {
	display: inline-block;
	max-width: 100%;
	font-size: 14px;
	color: rgb(108, 115, 128);
	line-height: 1.2;
	position: relative;
	text-align: left;
	padding-left: 40px;
	font-family: 'SFUI-Thin';
}
.popup form .button-text a {
	color: rgb(108, 115, 128);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.popup form .button-text a:hover {
	color: #000000;
}
.popup form .button-text .radio-btn {
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	border: 1px solid rgb(204, 204, 204);
	left: 0;
	top: 2px;
	border-radius: 6px;
}
.popup form .button-text .radio-btn.error {
	border-color: #ff0000;
}
.popup form .button-text .radio-btn:hover {
	cursor: pointer;
}
.popup form .button-text .radio-btn.active::before {
	content: '';
	display: block;
	width: 7px;
	height: 2px;
	position: absolute;
	left: 3px;
	top: 10px;
	background-color: rgb(204, 204, 204);
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	transform: rotate(45deg);
}
.popup form .button-text .radio-btn.active::after {
	content: '';
	display: block;
	width: 10px;
	height: 2px;
	position: absolute;
	left: 7px;
	top: 9px;
	background-color: rgb(204, 204, 204);
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	-ms-transform: rotate(-45deg);
	transform: rotate(-45deg);
}
.popup .file-wrap {
	width: 100%;
	display: block;
}
.popup .file-inp {
	display: block;
	text-align: left;
	padding-bottom: 7px;
	margin-bottom: 30px;
	border: 0;
	background-color: transparent;
	border-bottom: 1px solid rgb(204, 204, 204);
	width: 100%;
	font-family: 'SFUI-Regular';
	font-size: 16px;
	color: rgb(108, 115, 128);
	position: relative;
	padding-right: 28px;
	box-sizing: border-box;
}
.popup .file-inp::before {
	content: '';
	display: block;
	width: 18px;
	height: 18px;
	background-position: center;
	background-repeat: no-repeat;
	background-image: url('../i/file-img.png');
	position: absolute;
	right: 5px;
	top: 3px;
}
.popup .file-inp:hover {
	cursor: pointer;
}
.popup .file-wrap input.hide-input {
	width: 0 !important;
	padding: 0 !important;
	height: 0 !important;
	visibility: hidden !important;
	margin: 0 !important;
	border: 0 !important;
}
.popup:hover {
	cursor: default;
}
.fancybox-slide--html .fancybox-close-small {
	padding: 0;
	opacity: 0.4;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	-ms-transition: all 0.3s;
	transition: all 0.3s;
}
.fancybox-slide--html .fancybox-close-small:hover {
	opacity: 1;
}








@media (-webkit-min-device-pixel-ratio: 1.5) {
}	
@media screen and (max-width: 1280px){
	body {
		padding-top: 118px;
	}
	.header-logo {
		max-width: 75px;
		max-height: 75px;
	}
	.header .b-block {
		padding-left: 75px;
	}
	.header-slogan {
		font-size: 22px;
		margin-top: 7px;
	}
	.header-social {
		margin: 0 5px;
	}
	.header-right {
		margin-top: 0;
	}
	.header-nav ul li {
		font-size: 11px;
	}
	.header-nav ul li.li-drop .nav-drop .drop-item a {
		font-size: 11px;
	}
	.footer-text {
		margin-right: 0;
	}
	.footer-nav {
		display: block;
		width: 100%;
		margin-top: 30px;
	}
	.footer-nav li {
		width: auto;
	}
	.line::before {
		display: none;
	}
}
@media screen and (max-width: 767px){
	body {
		padding-top: 65px;
	}
	.header {
		position: fixed;
		border-bottom: 1px solid #000000;
	}
	.header .b-block {
		padding-top: 19px;
		padding-bottom: 19px;
		padding-right: 65px;
		padding-left: 65px;
	}
	.header-right, .header-nav {
		display: none;
	}
	.header-nav ul li.li-drop::before {
		display: none;
	}
	.header-nav ul li.li-drop .nav-drop {
		display: block;
		position: static;
		margin: 5px auto;
		width: 100%;
		padding: 0;
		background-color: transparent;
		border-radius: 0;
		min-width: 0;
	}
	.header-nav ul li.li-drop .nav-drop .drop-item {
		text-align: center;
	}
	.header-nav ul li.li-drop .nav-drop .drop-item a {
		font-size: 14px;
	}
	.header-logo {
		max-width: 65px;
		max-height: 65px;
	}
	.header-slogan {
		float: none !important;
		margin-top: 0;
	}
	.mobile-btn, .close-btn {
		display: block;
	}
	.mobile-menu, .mobile-menu .header-nav {
		display: block;
	}
	.mobile-menu .header-logo {
		position: static;
		display: inline-block;
		vertical-align: top;
		max-width: 125px;
		max-height: 125px;
		margin-bottom: 20px;
		-webkit-transform: translateY(0);
		-moz-transform: translateY(0);
		-ms-transform: translateY(0);
		transform: translateY(0);
	}
	.mobile-menu .header-nav ul {
		display: block;
	}
	.mobile-menu .header-nav ul li {
		font-size: 16px;
		padding: 0;
		margin-bottom: 10px;
	}
	.mobile-menu .header-city {
		margin-bottom: 10px;
	}
	.mobile-menu .header-social {
		margin: 0 auto 10px;
		display: block;
	}
	.footer-logo {
		margin-right: 0;
		margin-bottom: 20px;
	}
	.footer-text {
		display: block;
		margin: 0 auto;
	}
	.footer-nav li {
		display: block;
		margin: 0 auto 10px;
	}
	.footer-nav li.big {
		width: 100%;
	}
	.footer-nav li.li-logo-atk {
		margin-bottom: 0;
	}
}